// 充满容器
@mixin content-fill ($scrollX: hidden, $scrollY: hidden) {
    width: 100%;
    height: 100%;
    overflow-x: $scrollX;
    overflow-y: $scrollY;
}

// 居中容器
@mixin content-center-abs () {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

// 居中容器
@mixin content-center-flex () {
    display: flex;
    align-items: center;
    justify-content: center;
}
